.container-layout
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  .el-header
    border-bottom 1px solid blue
  .el-footer
    position fixed
    bottom 0
    border-top 1px solid blue
    width 100%
  .layout-center 
    padding 0
    margin-bottom 60px
    position relative
    .el-aside.layout-left
      position absolute
      height 100%
      border-right 1px solid red
    .el-main.layout-main
      padding 0
      position absolute
      left 262px
      right 300px
      height 100%
      overflow-y auto
    .el-aside.layout-right
      position absolute
      right 0
      height 100%
      border-left 1px solid red
