.grid-row {
  padding: 4px;
}
.grid-col {
  min-height: 50px;
  background-color: #fff;
  border: 1px dashed #c2c2c3;
  position: relative;
  padding: 1.5px;
}
.grid-active, .form-active {
  outline: 2px solid #e6a23c;
  outline-offset: -1px;
}
.form-item-container
  min-height 260px
  border 1px dashed #c2c2c3
  position relative